{% extends 'base.html' %}


{% block content %}

<table class="table table-sm table-bordered my-2">
    <thead class="thead-dark">
        <tr>
            <th>id véhicule</th>
            <th>marque</th>
            <th>modèle</th>
            <th>couleur</th>
            <th>immatriculation</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicule in vehicules %}
        <tr>
            <td> {{vehicule.id_vehicule}} </td>
            <td> {{vehicule.marque}} </td>
            <td> {{vehicule.modele}} </td>
            <td> {{vehicule.couleur}} </td>
            <td> {{vehicule.immatriculation}} </td>
            <td> <a href="{{ base_path ~ '/vehicule/' ~ vehicule.id_vehicule ~ '/edit' }}"><i class="fa fa-edit"
                        aria-hidden="true"></i></a></td>
            <td> <a href="{{ base_path ~ '/vehicule/' ~ vehicule.id_vehicule ~ '/delete' }}"><i
                        class="fa fa-trash" aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr class="my-2">

<form action="{{ base_path ~ '/vehicule/new' }}" method="POST">

    <div class="form-group">

        <label for="marque">Marque : </label>
        <input type="text" class="from-group" name="marque" required></br>
        <label for="modele">Modèle : </label>
        <input type="text" class="from-group" name="modele" required></br>
        <label for="couleur">Couleur : </label>
        <input type="text" class="from-group" name="couleur"></br>
        <label for="immatriculation">Immatriculation : </label>
        <input type="text" class="from-group" name="immatriculation" size="9" required></br>

        <button class="btn btn-primary">Ajouter ce véhicule</button>

    </div>
</form>





{% endblock %}