{% extends 'base.html' %}


{% block content %}

<table class="table table-sm table-bordered my-2">
    <thead class="thead-dark">
        <tr>
            <th>id conducteur</th>
            <th>prénom</th>
            <th>nom</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for conducteur in conducteurs %}
        <tr>
            <td> {{conducteur.id_conducteur}} </td>
            <td> {{conducteur.prenom}} </td>
            <td> {{conducteur.nom}} </td>
            <td> <a href="{{ base_path ~ '/conducteur/' ~ conducteur.id_conducteur ~ '/edit' }}"><i class="fa fa-edit"
                        aria-hidden="true"></i></a></td>
            <td> <a href="{{ base_path ~ '/conducteur/' ~ conducteur.id_conducteur ~ '/delete' }}"><i class="fa fa-trash"
                        aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr class="my-2">

<form action="{{ base_path ~ '/conducteur/new' }}" method="POST">

    <div class="form-group">

        <label for="prenom">Prénom : </label>
        <input type="text" class="from-group" name="prenom" required></br>
        <label for="nom">Nom : </label>
        <input type="text" class="from-group" name="nom" required></br>

        <button class="btn btn-primary">Ajouter ce conducteur</button>

    </div>
</form>


{% endblock %}