{% extends 'base.html' %}


{% block content %}

<h1><i class='fa fa-edit' aria-hidden="true"></i> Modification d'une association</h1>
<hr class="my-2">

<form action="{{ base_path ~ '/association/' ~ conducteurId ~ '/edit' }}" method="POST">

    <div class="form-group">

        <input type="hidden" name="id" value="{{associationId}}">
        
        <select name="conducteur" class="form-control">
            <option value="">Selectionnez le conducteur : </option>
            {% for conducteur in conducteurs %}
            <option value="{{conducteur.id_conducteur}}">{{conducteur.nom}} {{conducteur.prenom}}</option>
            {% endfor %}
        </select>

        <select name="vehicule" class="form-control">
            <option value="">Selectionner le véhicule : </option>
            {% for vehicule in vehicules %}
            <option value="{{vehicule.id_vehicule}}">{{vehicule.marque}} {{vehicule.modele}}</option>
            {% endfor %}
        </select>

        <button class="btn btn-primary">Modifier</button>

        <a class="btn btn-secondary" href="{{ base_path ~ '/associations' }}" role="button">Annuler</a>

    </div>
</form>

<hr class="my-2">



{% endblock %}